{% load static %}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gill Sans", sans-serif;

}

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background-color: #92a8d1;
          }

    .wrapper {
    width: 420px;
    background: green;
    opacity: 0.8;
    color: #fff;

    }